/* estilos.css */

body {
    font-family: "Roboto", Arial, sans-serif;
    font-optical-sizing: auto;
    font-weight: auto;
    font-size: 16px;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
    min-height: 100vh; 
}

#title {
    text-align: center;
    color: #333;
}
.container {
    max-width: 800px;
    margin: 0 auto;
    flex: 1;
}
img{
    width: 150px;
    height: 150px;
    align-items: center;
}

h1 {
    text-align: center;
    color: #333;
}

.search-container {
    display: flex;
    align-items: center;
    overflow: hidden; 
}

#searchInput {
    width: 80%;
    padding: 10px;
    margin: 20px 0;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border: 1px solid #ccc;
    border-right: none;
    box-sizing: border-box;
}

#searchButton {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-left: none;
    border: 1px solid #ccc;
    border-right: none;
    height: 100%;
}
#searchButton:hover {
    background-color: #d0d0d0; /* Cambiar color de fondo al hacer hover */
    transform: scale(1); /* Añadir animación de escala al hacer hover */
}

#bookResults {
    margin-top: 20px;
    font-size: 18px;
}

.book {
    background-color: white;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.book h3 {
    margin: 0 0 10px;
    color: #0056b3;
}